@tailwind base;
@tailwind components;
@tailwind utilities; 

header ul li{
    @apply px-2;
}

.bg-primary{
    background: rgb(194, 136, 226);
}

.bg-secondary{
    background: #d466ff;
}


.mobile-nav{
    @apply fixed top-12 left-0 bg-purple-400 w-full h-1/4;
}

.mobile-nav li{
    @apply w-full h-full text-center border-b-2;
}


.project-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.relative:hover .project-desc {
    opacity: 1; 
}
   
.btn{
    @apply bg-black px-5 py-2 font-bold hover:border-2 border-white rounded;
}

html{
    scroll-behavior: smooth;
}